.todayRecipe {
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todayRecipe_title {
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.todayRecipe_title_text {
  font-size: 2rem;
  font-weight: bold;
}

.todayRecipe_content {
  width: 90%;
  height: 28rem;
  border-radius: 1rem;
  background-color: white;
}