.LoginLeftImg {
  height: 93.05rem;
}

.LoginRight {
  width: 129.967rem;
  justify-content: center;
  align-items: center;
}

.LoginLogoImg {
  width: 50rem;
  margin-bottom: 4rem;
  cursor: pointer;
}

.LoginPageSelector {
  width: 51.986rem;
  height: 13rem;
  justify-content: space-between;
  align-items: center;
}

.LoginPagePatient {
  width: 25.887rem;
  height: 9.1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #858585;
  font-size: 2.5rem;
  background-color: #e0e0e0;
  border-radius: .5rem;
}

.LoginPageTherapist {
  width: 25.887rem;
  height: 9.1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #858585;
  font-size: 2.5rem;
  background-color: #e0e0e0;
  border-radius: .5rem;
}

.choose {
  background-color: #58867A;
  color: white;
}

.LoginPageAccountSelector {
  width: 51.986rem;
  justify-content: space-between;
}

.LoginPageAccountSelector p {
  cursor: pointer;
  color: #0F5953;
  font-size: 1.8rem;
}

.LoginPageAccountSelector p:hover {
  color: skyblue;
}

