.preview {
  width: 26rem;
  border-radius: 10px 10px 0px 0 px;
  height: 20rem;
  border-bottom: 1px solid #a2a2a2;
}
.level {
  background-color: #82b7a9;
  border-radius: 5px;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 30px;
}
.exerciseName {
  padding-left: 5%;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  height: 20%;
}
.levelText {
  color: white;
  text-decoration: none;
}

.nameText {
  color: white;
}

.exerciseCardSection {
  /* margin: 1rem; */
  width: 100%;
  height: 30rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adexercise-name-box {
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 1%;
  margin-left: 8%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
  text-decoration: none;
}

.adlevelBox {
  background-color: #58867a;
  color: white;
  border-radius: 3px;
  padding: 4px 6px 6px 6px;
  align-self: flex-start;
  margin-left: 8%;
  margin-top: 6%;
  font-size: small;
  text-align: center;
  width: 3rem;
}
