.Navbar {
    /* border: 1px solid black; */
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
}

.logoimg {
    margin-left: 10px;
    height: auto;
    width: 200px;
}

.usericon{
    margin-right: 10px;
    height: 30px;
}