.patient-signupPage {
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 1.6rem;
}

.patientLogoImg {
  width: 40rem;
  cursor: pointer;
}

.patient-signupPage-first {
  margin-top: 3rem;
  width: 57.6rem;
  justify-content: center;
  align-items: center;
}

.patient-signupPage-name {
  width: 57.6rem;
  margin-bottom: 1rem;
}

.patient-signupPage-name-input {
  position: relative;
  margin-top: 1rem;
  width: 56.4rem;
}

.patient-signupPage-name-input input {
  border: none;
  background-color: #F9F9F9;
  border-radius: .5rem;
  outline: .1rem solid #E6E6E6;
  width: 56.4rem;
  height: 5rem;
  padding-left: 1rem;
}

.patient-signupPage-name-input input:focus {
  outline: .2rem solid #0F5953;
}

.patient-signupPage-id {
  width: 57.6rem;
  margin-bottom: 1rem;
}

.patient-signupPage-id-input {
  position: relative;
  margin-top: 1rem;
  width: 56.4rem;
}

.patient-signupPage-id-input input {
  border: none;
  background-color: #F9F9F9;
  border-radius: .5rem;
  outline: .1rem solid #E6E6E6;
  width: 56.4rem;
  height: 5rem;
  padding-left: 1rem;
}

.patient-signupPage-id-input input:focus {
  outline: .2rem solid #0F5953;
}

.idInputOln.green {
  outline: .2rem solid #468fe1;
}


.idInputOln.red {
  outline: .2rem solid red;
}


.patient-signupPage-id-check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: .5rem;
  background-color: #58867A;
  color: white;
  font-weight: 250;
  width: 9rem;
  height: 3rem;
  top: 1.2rem;
  right: 0rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.patient-signupPage-email {
  width: 57.6rem;
  margin-bottom: 1rem;
}

.patient-signupPage-email-input {
  position: relative;
  margin-top: 1rem;
  width: 56.4rem;
}

.patient-signupPage-email-input input {
  border: none;
  background-color: #F9F9F9;
  border-radius: .5rem;
  outline: .1rem solid #E6E6E6;
  width: 56.4rem;
  height: 5rem;
  padding-left: 1rem;
}

.patient-signupPage-email-input input:focus {
  outline: .2rem solid #0F5953;
}



.patient-signupPage-phone {
  width: 57.6rem;
  margin-bottom: 1rem;
}

.patient-signupPage-phone-input {
  position: relative;
  margin-top: 1rem;
  width: 56.4rem;
}

.patient-signupPage-phone-input input {
  border: none;
  background-color: #F9F9F9;
  border-radius: .5rem;
  outline: .1rem solid #E6E6E6;
  width: 56.4rem;
  height: 5rem;
  padding-left: 1rem;
}

.patient-signupPage-phone-input input:focus {
  outline: .2rem solid #0F5953;
}

.patient-signupPage-phone-check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: .5rem;
  background-color: #58867A;
  color: white;
  font-weight: 250;
  width: 9rem;
  height: 3rem;
  top: 1.2rem;
  right: 0rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.patient-signupPage-authenticationNum {
  width: 57.6rem;
  margin-bottom: 1rem;
}

.patient-signupPage-authenticationNum-input {
  position: relative;
  margin-top: 1rem;
  width: 56.4rem;
}

.patient-signupPage-authenticationNum-input input {
  border: none;
  background-color: #F9F9F9;
  border-radius: .5rem;
  outline: .1rem solid #E6E6E6;
  width: 56.4rem;
  height: 5rem;
  padding-left: 1rem;
}

.patient-signupPage-authenticationNum-input input:focus {
  outline: .2rem solid #0F5953;
}

.authenti-Input.green {
  outline: .2rem solid #468fe1;
}

.authenti-Input.red {
  outline: .2rem solid red;
}


.patient-signupPage-authenticationNum-check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: .5rem;
  background-color: #58867A;
  color: white;
  font-weight: 250;
  width: 9rem;
  height: 3rem;
  top: 1.2rem;
  right: 0rem;
  cursor: pointer;
  font-size: 1.6rem;
}


.patient-signupPage-pw {
  width: 57.6rem;
  margin-bottom: 1rem;
}

.patient-signupPage-pw-input {
  position: relative;
  margin-top: 1rem;
  width: 56.4rem;
}

.patient-signupPage-pw-input input {
  border: none;
  background-color: #F9F9F9;
  border-radius: .5rem;
  outline: .1rem solid #E6E6E6;
  width: 56.4rem;
  height: 5rem;
  padding-left: 1rem;
}

.patient-signupPage-pw-input input:focus {
  outline: .2rem solid #0F5953;
}


.patient-signupPage-pw-input.green input:focus {
  outline: .2rem solid #0F5953;
}


.patient-signupPage-pw-input.red input:focus {
  outline: .2rem solid red;
}


.patient-signupPage-firstPw-comment {
  font-size: 1.5rem;
  margin-top: 1rem;
  justify-content: space-between;
}


#meter {
  appearance: none;
}
#meter::-webkit-progress-bar {
  background: #f0f0f0;
  border-radius: 1rem;
}
#meter::-webkit-progress-value {
  border-radius: 1rem;
  background: var(--c, red);
}
#meter[value]::-webkit-progress-value {
  transition: width 0.5s;
}


.checklist-first {
  width: 48rem;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.checklist-second {
  width: 48rem;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.checkboxInner {
  width: 21.6rem;
  text-align: left;
  font-size: 1.6rem;
}

.patient-signupPage-submit-button {
  border-radius: .5rem;
  width: 57.6rem;
  height: 5rem;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #58867a;
  box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.2), 0 .5rem 1rem 0 rgba(0,0,0,0.19);
}

.patient-signupPage-submit-button p {
  margin: 1rem 0rem;
  font-size: 2.3rem;
  font-weight: lighter;
  color: white;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}

.patient-signupPage-submit-button-inner {
  width: 57.6rem;
  height: 5rem;
  top: -5rem;
  background: #0f5953;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}

.patient-signupPage-submit-button:hover .patient-signupPage-submit-button-inner {
  top: 0;
}

.patient-signupPage-submit-button:hover p {
  color: white;
}