.videoTitlediv {
  position: absolute;
  top: 350px;
  left: 150px;
  z-index: 3;
}

.main1div {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main2div {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main3div {
  margin-top: 150px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainimg {
  width: 1200px;
  height: auto;
  margin-bottom: 100px;
}

.main2img {
  width: 800px;
  height: auto;
}

.mainInfo {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
}

.main2Infoleft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-left: 250px;
  color: #0F5953;
}

.main2Inforight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-right: 250px;
  padding-left: 100px;
  color: #0F5953;
}

.main3Info {
  font-size: 50px;
  font-weight: 800;
  margin: 0px;
  color: #0F5953;
  margin-top: 200px;
}

.main4Info {
  font-size: 70px;
  font-family: "Pretendard-bold";
  color: #0F5953;
}

.hrline {
  width: 50px;
  border: 3px solid #5D6569;
  margin-bottom: 30px;
}

.numbering {
  font-size: 50px;
  font-family: "Pretendard-Medium";
  margin: 0;
}
.titleh1{
  margin: 0;
  font-size: 40px;
  margin-bottom: 15px;
}
.titleh2{
  margin: 0;
  font-size: 50px;
  font-family: "Pretendard-Medium";
  margin-bottom: 70px;
}
.content1{
  margin: 0;
  color: #5D6569;
}