.main1div{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainimg{
    width: 700px;
    height: auto;
}

.mainInfo {
    font-size: 40px;
    font-weight: 800;
}