.videodiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main1div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main2div {
  margin-top: 150px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.main3div {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainimg {
  width: 700px;
  height: auto;
}

.main2img {
  width: 800px;
  height: auto;
}

.mainInfo {
  font-size: 40px;
  font-weight: 800;
}

.main2Infoleft {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-left: 250px;
}

.main2Inforight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-right: 250px;
  padding-left: 100px;
}

.main3Info {
  font-size: 70px;
  font-weight: 800;
  margin: 0px;
}

.main4Info {
  font-size: 60px;
  font-weight: 600;
}

.hrline {
  width: 50px;
  border: 2px solid black;
}
