.patientInfo1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
}

.background {
  background-color: #a4b0b0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  overflow: scroll;
}
.smallLogo {
  width: 300px;
}

.ck-editor__editable {
  min-height: 200px;
  margin-bottom: 100px;
}
.CKEditorBox {
  width: 95%;
}

.widthForInput {
  width: 600px;
}

.textareEdit {
  width: 98%;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 0;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.whiteSpace {
  width: 10%;
}
.labels {
  margin-bottom: 10px;
  font-family: "Pretendard-Bold";
}

.input-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: space-between; */
  width: 100%;
}

.smallinput {
  box-sizing: border-box;
  width: 100%;
  height: 25px;
  padding-block: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  box-sizing: content-box;
  margin-bottom: 0px;
}

.smallinput:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.smallinput:active {
  transform: scale(0.98);
}

.smallinput:focus {
  border: 1px solid grey;
}

.input {
  box-sizing: border-box;
  width: 96%;
  height: 25px;
  padding-block: 12px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  box-sizing: content-box;
  margin-bottom: 0px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.98);
}

.input:focus {
  border: 1px solid grey;
}

.select {
  width: 100%;
  height: 55px;
  padding-block: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;

  box-shadow: 0px 0px 20px -18px;
}

.select:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.select:focus {
  border: 2px solid grey;
}
.input-container {
  width: 1000px;
}
.button-sizeBig {
  border-radius: 10px;
  width: 70%;
  height: 50px;
  /* border: 2px solid #34495e; */
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 2rem;
  background: #0f5953;
}
.button-sizeBig p {
  font-family: arial;
  font-size: 16px;
  color: white;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}
.eff-sizeBig {
  width: 100%;
  height: 50px;
  top: -50px;
  background: #08302c;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}
.button-sizeBig:hover .eff-sizeBig {
  top: 0;
}
.button-sizeBig:hover p {
  color: white;
}

.button-sizeSmall {
  border-radius: 10px;
  width: 30%;
  height: 50px;
  /* border: 2px solid #34495e; */
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 2rem;
  background: #d93f3f;
}
.button-sizeSmall p {
  font-family: arial;
  font-size: 16px;
  color: white;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}
.eff-sizeSmall {
  width: 100%;
  height: 50px;
  top: -50px;
  background: #a53838;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}
.button-sizeSmall:hover .eff-sizeSmall {
  top: 0;
}
.button-sizeSmall:hover p {
  color: white;
}

.textareaCreate {
  width: 99%;
  height: 10vh;
  border: none;
  resize: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  outline: 1px solid #e6e6e6;
}

.textareaCreate:focus {
  outline: 2px solid #0f5953;
}

.button-create {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  /* border: 2px solid #34495e; */
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 2rem;
  background: #0f5953;
}
.button-create p {
  font-family: arial;
  font-size: 16px;
  color: white;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}
.eff-create {
  width: 100%;
  height: 50px;
  top: -50px;
  background: #08302c;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}
.button-create:hover .eff-create {
  top: 0;
}
.button-create:hover p {
  color: white;
}

.button-selectEx {
  border-radius: 0px 5px 5px 0px;
  width: 15%;
  height: 4.1rem;
  /* border: 2px solid #34495e; */
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  background: #0f5953;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-selectEx p {
  font-family: arial;
  font-size: 16px;
  color: white;
  text-decoration: none;
  line-height: 50px;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}
.eff-selectEx {
  width: 100%;
  height: 40px;
  top: -50px;
  background: #08302c;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}
.button-selectEx:hover .eff-selectEx {
  top: 0;
}
.button-selectEx:hover p {
  color: white;
}
