.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
	width: 23rem;
	color: white;
	border-radius: 1rem;
	background-color: #0f5953;
	padding: 2rem 1rem 2rem 1rem;
}

.nav-list {
	display: flex;
  justify-content: center;
  align-items: center;
	width: 25rem;
	margin-bottom: 1rem;
}

.divbtn {
	width: 25rem;
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.selectedPagetab {
	height: 4rem;
	width: 20rem;
	display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
	margin-right: 0rem;
	border-radius: .5rem;
	font-size: 1.8rem;
}

.h_Line {
	border-top: .1rem solid white;
	width: 17.5rem;
}

p {
	margin: 0rem;
}