.CoachingComplete-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 42%;
  background-color: #2E453F;
  color: black;
  border-radius: 1rem;
  margin-top: 1.2rem;
  box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .5rem 1rem 0 rgba(0, 0, 0, 0.19);
}

.CoachingComplete-detail.done {
  background-color: #858585;
}

.CoachingComplete-detail-image-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 11%;
  height: 100%;
  border-radius: 30%;
}

.CoachingComplete-detail-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.CoachingComplete-detail-text {
  width: 89%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.CoachingComplete-detail-text-title {
  height: 50%;
  padding: 1rem 2rem 0rem 2rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.CoachingComplete-detail-text-description {
  height: 50%;
  padding: 0rem 2rem 0rem 2rem;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.CoachingComplete-detail-button {
  display: flex;
  cursor: pointer;
  height: 85%;
  width: 45%;
  background-color: #DBF2F1;
  color: #0F5953;
  font-weight: bold;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .5rem 1rem 0 rgba(0, 0, 0, 0.19);
}

.CoachingComplete-detail-button p {
  font-size: 1rem;
  color: #0F5953;
  font-weight: bold;
  line-height: 5rem;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}

.CoachingComplete-detail-button-eff {
  width: 100%;
  height: 100%;
  top: -5rem;
  background: #0F5953;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}

.CoachingComplete-detail-button:hover .CoachingComplete-detail-button-eff {
  top: 0;
}

.CoachingComplete-detail-button:hover p {
  color: white;
}