.CoachingNotComplete-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 42%;
  background-color: #858585;
  color: black;
  border-radius: 1rem;
  margin-top: 1.2rem;
  box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2), 0 .5rem 1rem 0 rgba(0, 0, 0, 0.19);
}

.CoachingNotComplete-detail.done {
  background-color: #858585;
}

.CoachingNotComplete-detail-image-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 11%;
  height: 100%;
  border-radius: 30%;
}

.CoachingNotComplete-detail-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.CoachingNotComplete-detail-text {
  width: 89%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}

.CoachingNotComplete-detail-text-title {
  height: 50%;
  padding: 1rem 2rem 0rem 2rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.CoachingNotComplete-detail-text-description {
  height: 50%;
  padding: 0rem 2rem 0rem 2rem;
  margin-bottom: 2.5rem;
}

.coach-not-prescription_updateBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  width: 18%;
  height: 85%;
  float: left;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  background: #FF685B;
  box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.2), 0 .5rem 1rem 0 rgba(0,0,0,0.19);
}

.coach-not-prescription_updateBtn p {
  font-size: 1rem;
  color: white;
  font-weight: bold;
  line-height: 5rem;
  transition: all 0.5s ease;
  z-index: 2;
  position: relative;
}

.coach-not-prescription_updateBtn-eff {
  width: 100%;
  height: 100%;
  top: -5rem;
  background: #E32121;
  position: absolute;
  transition: all 0.5s ease;
  z-index: 1;
}

.coach-not-prescription_updateBtn:hover .coach-not-prescription_updateBtn-eff {
  top: 0;
}

.coach-not-prescription_updateBtn:hover p {
  color: white;
}

.coach-detail-update-btn {
  display: flex;
  height: 4.3rem;
  justify-content: flex-end;
  padding: 0rem 2rem 0rem 2rem;
  margin-bottom: 2.5rem;
}